div {
	display: flex;
	justify-content: center;
	align-items: center;
}
div a {
	padding: 10px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	transition: 0.2s;
}
div a:hover{
	color: red;
}

/* index */
.contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
table {
	width: 80%
}
table, tr, td, th {
	border: 1px solid;
	border-collapse: collapse;
	padding: 10px;
	
	text-align: center;
}

/* add */
.addBox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.addBox > form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
}
.addBox > form > input,
.addBox > form > button{
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;
}
.addBox > form > button{
	box-sizing: content-box;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
	transition: 0.2s;
}
.addBox > form > button:hover{
	background-color: red;
}